.week-forecast .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 43px;
}

.week-forecast .col {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.week-forecast .p-3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.week-forecast .image {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.week-forecast .figure div {
  font-size: 1rem;
}
.me-2 {
  width: 80px;
}

@media (max-width: 576px) {
  .week-forecast .row {
    flex-direction: column;
  }

  .week-forecast .col {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .week-forecast .image {
    width: 40px;
    height: 40px;
  }
}
